<!DOCTYPE HTML>
<html>
	<head>
		<title>Nicolas Daniel Corona</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#two">Who I Am</a></li>
							<li><a href="#one">Portfolio</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>I'm Nick D Corona</h1>
							<p>Leveraging Python Development skills with 6+ years of Engineering experience to help solve your toughest challenges.
							</p>
							<ul class="actions">
								<li><a href="#two" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Who I Am.</h2>
							<p>I'm a Python Developer/Engineer, based in Long Beach, CA. I am passionate about what I do & would like to help you in what you do. Currently searching for work that would advance my development skills and leverage my past work experience to help you accomplished your goals.<br>
							If interested in knowing more please download my <a href="{{ url_for('static', filename='NDCorona_Resume.pdf')}}">RESUME.pdf</a></p>
							<div class="features">
								<section>
									<div><img class="icons" src="static/assets/css/images/Cad03.png"></div>
									<h2>Engineer</h2>
									<p>I have a BSMechanical Engineering Major from CSULB and hold an EIT certification (CA). My work experience has been primarily in the manufacturing/industrial sector.</p>
									<h3>Experiences I draw from:</h3>
									<p>Sales, Quality Engr., Manufacturing Engineering & Mfg. Processes., Project Manager</p>
									<h4>CAD Tools:</h4>
									<ul>
									  <li>Solid Works</li>
									  <li>Auto Cad</li>
									</ul>
								</section>
								<section>
									<div><img class="icons" src="static/assets/css/images/Devs02.png"></div>
									<h2>Python Developer</h2>
									<p>I am well studied in various Python Dev. Tools and would like to explore work centered around these skills.</p>
									<h3>Python Dev. Tools/Services:</h3>
									<ul>
										<li>Bootstrap</li>
									  <li>SQL</li>
									  <li>Flask</li>
									  <li>Web Scrubbing</li>
									  <li>Automation</li>
									  <li>Data Analysis</li>
									  <li>Front End Development</li>
									  <li>User Interface Development</li>
									</ul>
								</section>
							</div>
							<ul class="actions">
								<li><a href="#one" class="button">Portfolio</a></li>
								<li><a href="https://www.linkedin.com/in/nicolas-daniel-corona/" class="button">LinkedIn Profile</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section id="pyscrp">
							<a href={{url_for('text2mrse')}} class="image"><img src="static/images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Python Scripting</h2>
									<p>Projects:</p>
									<ul style="list-style:none;">
										<li><a href={{url_for('text2mrse')}}  class="button">Text to Morse Code Converter</a></li>
										<li><a href={{url_for('tictactoe')}}  class="button">Tic Tac Toe</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section id="gui">
							<a href="#" class="image"><img src="static/images/pic02.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Graphical User Interface (GUI)</h2>
									<p>Projects:</p>
									<ul style="list-style:none;">
										<li><a href={{url_for('watermark')}} class="button">Watermarking Desktop App</a></li>
										<li><a href={{url_for('typingspeed')}} class="button">Typing Speed App</a></li>
										<li><a href={{url_for('writersblock')}} class="button">Writer's Block App</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section id="webdev">
							<a href="#" class="image"><img src="static/images/pic03.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Back End/Web Developement</h2>
									<p>Projects:</p>
									<ul style="list-style:none;">
										<li><a href={{url_for('tasktracker')}} class="button">Task Tracker Webb App</a></li>
										<li><a href={{url_for('colourpallette')}} class="button">Colour Palette Generator</a></li>
										<li><a href={{url_for('onlineshop')}} class="button">Online Shop</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section id="https">
							<a href="#" class="image"><img src="static/images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>HTTP/APIs/Web Scraping</h2>
									<p>Projects:</p>
									<ul style="list-style:none;">
										<li><a href={{url_for('pdftoaudio')}}  class="button">PDF to Audio (HTTPS-AWS)</a></li>
										<li><a href="generic.html" class="button">Custom Web Scraper</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="static/images/pic02.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Python Automation</h2>
									<p>Projects:</p>
									<ul style="list-style:none;">
										<li><a href="generic.html" class="button">Instagram Bot</a></li>
										<li><a href="generic.html" class="button">Gardening Bot - Mist</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>12345 Somewhere Road #654<br />
											Nashville, TN 00000-0000<br />
											USA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">user@untitled.tld</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(000) 000-0000</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy;What The Find. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>