<!DOCTYPE HTML>
<html>
	<head>
		<title>Nicolas Daniel Corona</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#two">Who I Am</a></li>
							<li><a href="#one">Portfolio</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>

					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>I'm Nicolas Daniel Corona ~ "Nick"</h1>
							<p>Leveraging Python Development skills with a Bachelor of Science in Mechanical Engineering and over 6 years of work experience to help solve our toughest challenges.
								I am passionate about becoming a Fullstack developer with a side interest in Decentralized Applications & Smart Contract technology.
							</p>
							<ul class="actions">
								<li><a href="#two" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Who I Am.</h2>
							<p>I am an Engineer/Python Developer located in Long Beach, California.
								Who would like to acquire a position where I can progress in my development as a Full stack Developer/Engineer.
								I am open to work where I can help design and implement python code, identify and fix inefficient code and practice best practice methods by learning on the job.
								In my opinion my best assets as an individual are my ingenuity, persistence and having a positive open-minded outlook in every aspect of my life.
								If you would like to view a copy of my CV please click, <a href="{{ url_for('static', filename='NDCorona_Resume.pdf')}}" style="color:#30CD17">CV Resume.pdf</a></p>

							<div class="features">
								<section>
									<div><img class="icons" src="static/assets/css/images/Cad03.png"></div>
									<h2>Engineer</h2>
									<p>I have received a Bachelor Degree of Science in Mechanical Engineering from California State University of Long Beach and hold an Engineer in Training certification in CA by passing the National Council of Examiners for Engineering and Surveying, Fundamentals of Engineering exam. I also have acquired 5+ years of work experience and I am familiar with production flow processes, lean manufacturing, and continuous process improvement methodologies as well as quality control experience such as internal audits, quality management system certification, and (ITP) inspection and test procedures in a manufacturing setting. I am confident in my ability to transpose my prior experience onto my new ventures as a developer.</p>
									<h3>Experiences I draw from:</h3>
									<p>Sales, Quality Engr., Manufacturing Engineering & Mfg. Processes., Project Manager</p>
									<h4>CAD Tools:</h4>
									<ul>
									  <li>Solid Works</li>
									  <li>Auto Cad</li>
									</ul>
								</section>
								<section>
									<div><img class="icons" src="static/assets/css/images/Devs02.png"></div>
									<h2>Python Developer</h2>
									<p>I am pursueing my passion of Engineering & Coding, as proof of my commitment I have appended Python Development skills to my list of skills, through the completion of a 100 day course taken on the Udemy Course platform. I continue to develop my coding skills daily by script writing a few hours each day and currently by diving deeper into specific Python frameworks and becoming familiar with their documentations, in example Django, REST APIs and Postgress to name a few with plans to continue in my Fullstack Development by learning other languages, Java is next. I am an entry level python developer but given my unique experience I believe you will find my intuition and logic as a developer to be at an intermediate to advance level.</p>
									<h3>Python Dev. Tools/Services:</h3>
									<ul>
										<li>Django</li>
									  <li>Flask</li>
										<li>Numpy</li>
										<li>Pandas</li>
										<li>REST APIs</li>
									  <li>Web Scraping</li>
									  <li>Python Automation</li>
									  <li>Data Analysis</li>
									  <li>Back End development</li>
									  <li>User Interface</li>
										<li>SQL</li>
									</ul>
								</section>
							</div>
							<ul class="actions">
								<li><a href="#one" class="button">Portfolio</a></li>
								<li><a href="https://www.linkedin.com/in/nicolas-daniel-corona/" class="button">LinkedIn Profile</a></li>
								<li><a href="" class="button">Certifications</a></li>
								<li><a href="{{ url_for('static', filename='NDCorona_Resume.pdf')}}" class="button">CV</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section id="pyscrp">
							<a href={{url_for('text2mrse')}} class="image"><img src="static/images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Python Scripting</h2>
									<p>Projects:</p>
									<ul style="list-style:none;">
										<li><a href={{url_for('text2mrse')}}  class="button">Text to Morse Code Converter</a></li>
										<li><a href={{url_for('tictactoe')}}  class="button">Tic Tac Toe</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section id="gui">
							<a href="#" class="image"><img src="static/images/pic02.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Graphical User Interface (GUI)</h2>
									<p>Projects:</p>
									<ul style="list-style:none;">
										<li><a href={{url_for('watermark')}} class="button">Watermarking Desktop App</a></li>
										<li><a href={{url_for('typingspeed')}} class="button">Typing Speed App</a></li>
										<li><a href={{url_for('writersblock')}} class="button">Writer's Block App</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section id="webdev">
							<a href="#" class="image"><img src="static/images/pic03.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Back End/Web Developement</h2>
									<p>Projects:</p>
									<ul style="list-style:none;">
										<li><a href={{url_for('tasktracker')}} class="button">Task Tracker Webb App</a></li>
										<li><a href={{url_for('colourpallette')}} class="button">Colour Palette Generator</a></li>
										<li><a href={{url_for('onlineshop')}} class="button">Online Shop</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section id="https">
							<a href="#" class="image"><img src="static/images/pic04.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>HTTP/APIs/Web Scraping</h2>
									<p>Projects:</p>
									<ul style="list-style:none;">
										<li><a href={{url_for('pdftoaudio')}}  class="button">PDF to Audio (HTTPS-AWS)</a></li>
										<li><a href={{url_for('wscrapper')}}  class="button">Custom Web Scraper</a></li>
									</ul>
								</div>
							</div>
						</section>
				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<div class="split style1">
								<section>
									<p>If you are interested in working together, please feel free to contact me.</p>
									<a href="#"> <img  style="width:50%" src="static/images/elbarto.jpg" alt="" data-position="center center" /></a>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Email</h3>
											<a href="#">Nick.D.Corona@gmail.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(562)-505-7286</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://twitter.com/NickDCorona" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="https://github.com/GOGetSUM" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.instagram.com/coro_nahhhh/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="https://www.linkedin.com/in/nicolas-daniel-corona/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy;NDC - GoGetSum All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>